<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <style>
    </style>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <div class="contenedor" style="background-color: #fffff1; max-width: 540px; max-height: 650px; height: 610px; margin: auto;  overflow: hidden;">
         <div class="header1" style="max-width: 540px; max-height: 200px; height: 188px; background: linear-gradient(230deg, #D66C16 -1.53%, #F6A52A 63.75%); color: #ffffff; margin-bottom: 20px; font-size: 60px; margin-top: 0px; padding: 0px; border: 0px;  display: flex; align-items: center; justify-content: space-between;">
            <!-- Imagen de la izquierda -->
            <img src="https://apps.genialw.com/sign-media/esquina.png" style="width: 160px; max-height: 160px; margin-top: 0px; padding: 0px; border: 0px; margin-bottom: 10px">
            <!-- Contenedor de texto -->
            <div class="imageHeader" style="height:140px ; margin-left: 40px; ">
                <p class="headerText" style="height: 50px; text-align: center; margin-bottom: 0px;">Hola, <br></p> 
                <p class="user" style="font-size: 25px; margin-bottom: 10px; text-align: center;">{userName}</p>
            </div>

            <!-- Imagen de la derecha -->
            <img src="https://apps.genialw.com/sign-media/clientes.png" style="width: 120px; max-height: 140px; margin-left: 70px;">
        </div>
        <div>
            <p class="text1" style="text-align: center; font-size: 25px; margin-bottom: 0px; margin-top: 0px; padding: 0px ; color: #808080;"> 
                Haz realizado una solicitud de<br> restablecimiento de contraseña</p>
        </div>
         <div class="imageContent" style="margin-top: 0px; margin-left: 10px;">
                <img src="https://apps.genialw.com/sign-media/candado.png" style=" display: flex; margin: 0px auto; width: 120px; max-height: 130px;">
        </div>  
            <p style="color: #808080; text-align: center;">Si haz solicitado restablecer tu contraseña,</p>
            <a class="button" href="{requestUrl}"  style="margin-left: 36%; display: flex; background-color: #f8f6f2a1; width: 95px; padding: 5px 30px 5px 30px; border-radius: 6px; background: linear-gradient(270deg, #F6A52A -1.53%, #D66C16 63.75%); border: 1px solid #A52743; color: rgb(239, 231, 231); font-size: 25px;">
                             clic aqui</a>
            <p style="color: #808080; text-align: center;">Si no recuerdas haber hecho esta solicitud por<br> favor, ignora este correo electrónico</p>
            <p style="color: #808080; text-align: center;"><strong>*Esta solicitud estará activa durante 30 minutos </strong></p>
        </div>
    </div>
</body>
</html>